{% extends "base.html" %}
{% load static %}

{% block title %}Articles{% endblock %}

{% block content %}
<div class="container">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

   <div class="row">
        {# icon and search-box #}
        <div class="col-6 align-left">
            <i id="search-icon" class="fas fa-search"></i>
            <input id="user-input" placeholder="Search">
        </div>

        {# artist-list section #}
        <div id="replaceable-content" class="col-6">
            {% include 'articles/_articles_results.html' %}
        </div>

    </div>
</div>
{% endblock content %}
